@import url(https://fonts.googleapis.com/css?family=Quicksand);
 

a{
  color: white;
  text-decoration: none;
}
a:hover{ 
  text-decoration: none;
  // border-bottom: 1px solid #11998e;
  color: white;
  transition: 0.5s;
}


 
// Custom Form css //ccheck
form{
  width: 70%;
}

.submitbtn{
border: 2px solid black;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}
/* Form CSS */
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}
  
.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
body {
  font-family: 'Quicksand',sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#16171a;
  color: white;
  text-align: center;
}

/* Link Button CSS */
input[type=submit]{
  background-color: transparent;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.3s;
}
input[type=submit]:hover{
  background-color: #fff;
  color: #292b32;
}

.registerbtn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.3s;
}

.registerbtn:hover{

  background-color: #fff;
  color: #292b32;

}

#forgotpassword{
  font-size: 16px;
}  

@media screen and (max-width: 600px) {
  .logohead {
    max-width:30vw !important;
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
  }
  input[type=submit] {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .submitbtn{
    padding: 0%;
  }
  .registerbtn {
    padding: 0%;
  }
}
 
.wrap_passwordcontent{
  max-width: 75%;
}