{% extends 'main/password/password_reset_template.html' %}

{%  block title %}

<title>Stesta | Change Password</title>
{% endblock %}

{% block content %}

<form method="POST">
  {% csrf_token %}



  <div class="form__group field">
    <input type="password" class="form__field" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
    <label for="id_old_password" class="form__label">Old password:</label>
  </div>
  <div class="form__group field">
    <input type="password" class="form__field" name="new_password1" autocomplete="new-password" required id="id_new_password1">
    <label for="id_new_password1" class="form__label">New password:</label>
  </div>
  <div class="form__group field">
    <input type="password" class="form__field" name="new_password2" autocomplete="new-password" required id="id_new_password2">
    <label for="id_new_password2" class="form__label">New password confirmation:</label>
  </div>
  <br>
  <span id="errordisplay">
    {% if form.errors %}

        {% for field in form %}
            {% for error in field.errors %}
            <p>{{error}}</p>
            {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
          <p>{{error}}</p>
        {% endfor %}

    {% endif %}
    
  </span>
  <br>
  <input type="submit" class="submitbtn link underline"> 
  
</form> 



{% endblock %}