<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    



    <title>Steer | Change Password</title>
  </head>
  <body>
    <div class="logindiv"></div>

      <a href="/">
      <img class="logohead" src="https://cdn.discordapp.com/attachments/714130033957929012/734709351574667294/Untitled-2.png" style="max-width: 200px;">
      </a>
      <br><br><br>
      <form method="POST">
        {% csrf_token %}

      

        <div class="form__group field">
          <input type="password" class="form__field" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
          <label for="id_old_password" class="form__label">Old password:</label>
        </div>
        <div class="form__group field">
          <input type="password" class="form__field" name="new_password1" autocomplete="new-password" required id="id_new_password1">
          <label for="id_new_password1" class="form__label">New password:</label>
        </div>
        <div class="form__group field">
          <input type="password" class="form__field" name="new_password2" autocomplete="new-password" required id="id_new_password2">
          <label for="id_new_password2" class="form__label">New password confirmation:</label>
        </div>
        <br>
        <span id="errordisplay">
          {% if form.errors %}

              {% for field in form %}
                  {% for error in field.errors %}
                  <p>{{error}}</p>
                  {% endfor %}
              {% endfor %}

              {% for error in form.non_field_errors %}
                <p>{{error}}</p>
              {% endfor %}

          {% endif %}
          
        </span>
        <br>
        <input type="submit" class="submitbtn link underline"> 
        
      </form> 



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>