<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/736491929172180993/736498774431629363/resized_logocircle1.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <title>Steer | Dashboard</title>
    
    
  </head>
  <body>

<!-- Top -->
  <header>
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="#"><u>Elathius</u></a>
        <a href="#">Guide</a>
        <a href="#">Support</a>
        <a href="logout">Logout</a>
      </div>
    </div>

      <div class="topnav">
        <ul>
          <li class="left"><a href="/"><img style="max-width: 75px;" src="https://cdn.discordapp.com/attachments/714130033957929012/734709351574667294/Untitled-2.png"></a></li>
          <a href="#">
          <li class="right"><span onclick="openNav()" >&#9776; Hello, Elathius</span></li>
          </a>
        </ul>

      </div>

      <div class="thematicspacing">
        <hr>
      </div>
  </header>
<!-- ########################### -->
<!-- Main -->
    <div class="taskspace" id="taskspace">

      <div class="row" style="width: 90vw; margin-left: auto; margin-right: auto; margin-top: 10px;">
        {% for card in cards %}

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 .col-xl-3" style="margin-top: 10px;">
          <div class="card" style="background-color: black; border-radius: 0 !important; border: 1px solid #11998e;">
    
            <div class="card-body">
              <h5 class="card-title">{{card.task_name}}</h5>
              <div class="progress" style="border-radius: 0 !important; background-color: #e9ecef00 !important; border: 1px solid #11998e;">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{card.task_progress}}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{card.task_progress}}%; background-color:#11998e;">
                {{card.task_progress}}%
                </div>
              </div><br>
              <div class="d-flex ">
                <button class="button" type="button" onclick="openView('prefix{{card.taskid}}')">View</button>

                <medium class="ml-auto p-2" style="border-bottom: 1px solid orange ;">- {{ card.task_time|timeuntil:card.task_time }}</medium>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        

      </div>
            
        
    </div>

    <div id="subcardslist">

      {% for card in cards %}

      <div id="prefix{{card.taskid}}" class="subcardoverlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeView(this.parentNode.id)">&times;</a>
        <div class="subcard-overlay-content">
          
          <!-- Subcard overlay -->
          <div class="addwrap centerFlex">
            <!-- DOT | NAME | TIME -->
            <div class="overlayheader" style="width:60vw; margin-top: 15vh;">
              <div id="subcardheader" class="d-flex justify-content-around">
                <span class="subcard_card_urgency_color" style="height:25px; width:25px; border-radius:50%; display: inline-block; background-color:blue;"></span>
                <h3  class="justify-content-center subcard_card_title" style="margin-right:-35px;">{{card.task_name}}</h3> 
                <h5 class="subcard_card_time_left">-16 mins</h5>
              </div>
            <br>
            
            <form action="editcardsubmission" method="POST">
              {% csrf_token %}
              <!-- Add subtask | Checkbox -->
              <hr style="height: 2px; width: 30vw; color: white;">
              <div class="d-flex flex-row">
                <input class="justify-content-center" type="text" name="newsubtaskname" placeholder="Add Subtask" style="width: 25vw; margin-left: 15vw;" >
                  <input name="newsubtask_state" value="True" type="checkbox">
              </div>
              <!-- Subtask section, on click to open, closed by default -->
              <div>
                <h4 class="d-flex justify-content-center">View subtasks</h4>
                <br>
                
                <div class="collapse collapsiblelist d-flex justify-content-center" id="collapseExample">
                  <!-- Load all subtasks of this specific card -->
                  {% for sub_tasks in subtasks %}
                  {% if sub_tasks.task_name.task_name == card.task_name %}
                                  {% if sub_tasks.subtask_state == True %}
                                  <label >{{sub_tasks.subtask_name}}<input style="float:right;" type="checkbox" name="subtaskvalue" checked value="{{sub_tasks.subtask_name}}" /></label>
                                  {% else %}
                                  <label >{{sub_tasks.subtask_name}}<input style="float:right;" type="checkbox" name="subtaskvalue" value="{{sub_tasks.subtask_name}}" /></label>
                                  {% endif %}
                                {% endif %}
                  

                  <!-- <label >{{sub_tasks.subtask_name}}<input style="float:right;" type="checkbox" value="{{sub_tasks.subtask_name}}/{{card.taskid}}" /></label> -->
                  {% endfor %}
                </div>
                
                  <!-- down arrow -->
                  <a href="#!">
                    <span data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
                      &#8964;
                    </span>
                  </a>
                  <br>
              </div>
              <!-- Progress slider -->
              <div class="slidecontainer justify-content-center" style="width: 50%; margin-right:auto; margin-left:auto;">
                <div class="progress" style="border-radius: 0 !important; background-color: #e9ecef00 !important; border: 1px solid #11998e;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color:#11998e; ">
                    70%
                  </div>
                </div>
                <br>
              </div> 
              <!-- Tooltip -->
              <div>
                <h5><i class="fa fa-question-circle-o d-flex justify-content-center" aria-hidden="true"></i></h5>
              </div>
              <!-- Progress status e.g. 4/5 | 80% -->
              <div>
                <h5>4/5 | 80%</h5>
                <br>
              </div>
              <!-- Submit -->
              <input type="hidden"  name="carduuid" value="{{card.taskid}}">
              <button type="submit" name="editcardsubmission" class="button">Commit</button>
            </form>
            <!-- Delete -->
            <form action="deletecardsubmission" method="POST">
              {% csrf_token %}
              <input type="hidden"  name="carduuid" value="{{card.taskid}}">
              <br>
              <button type="button"  class="button" data-toggle="collapse" href="#confirmationcollapse" role="button" aria-expanded="false" aria-controls="confirmationcollapse" style="border: 1px solid red;" >Delete</button>
              <br><br>
              <button type="submit" name="deletecardsubmission" class="button collapse" id="confirmationcollapse" style="color:red;">Confirm</button>
              <br><br><br>
            </form>
          </div>
            <!-- Subcard overlay END -->

          
        </div>
      </div>

    </div>
      {% endfor %}


  </div>

<!-- ########################### -->
<!-- Add card panel -->
  <div id="Addpanel" class="addoverlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeAdd()">&times;</a>
    <div class="add-overlay-content">
      <div class="addwrap centerFlex">
        <form method="POST" >
          {% csrf_token %}
          <div class="">
            <label for="TaskName">Task Title</label><br>
            <input type="name" name="task_name" class="" id="id_task_name"  placeholder="Enter Task">
          </div>
          <div class="">
            <label for="deadline">Deadline Date</label><br>
            <input type="date" name="task_deadline_date" class="" id="id_task_deadline_date" placeholder="Enter Deadline  Date">
          </div>
          <div class="">
            <label for="deadline">Deadline Time</label><br>
            <input type="time" step="1" value="11:59:59" name="task_deadline_time" class="" id="id_task_deadline_time" placeholder="Enter Deadline Time">
          </div>
          <button type="submit" name="addcardsubmission" class="button">Add Task</button>
        </form>
      </div>
    </div>
  </div>

<!-- Floating Add button -->

  <a href="#!" class="floatingbutton" onclick="openAdd()">
    <i class="fa fa-plus" style="margin-top: 15px;"></i>
  </a>
<!-- ######################### -->
<!-- Footer -->
    <div class="page-footer footer">
      <hr>

      <div class="container">
        <div class="row">
            <!--Column1--><div class="col-sm-4"><br><br>&#169; Stesta</div>
            <!--Column2--><div class="col-sm-4">
                            <br>
                            <a href="/">
                              <img style="max-width: 100px;" src="https://cdn.discordapp.com/attachments/714130033957929012/734709351574667294/Untitled-2.png">
                            </a>
                            <br>
                            <p><br><br>by<br><br>Aditya Pathak &<br> Arham Khaishagi</p>
                          </div>
            <!--Column3--><div class="col-sm-4"><br><br><button class="donationbutton">Donate</button><br><br><br>

                          <a href="#!" class="">
                          <span data-toggle="collapse" href="#donationcollapse" role="button" aria-expanded="false" aria-controls="donationcollapse">
                            <i class="fa fa-question" aria-hidden="true"></i></span></a>

                            <p class="collapse" id="donationcollapse">
                              <br>
                              <u style="text-decoration-color: red;">Red</u>: Project is in a dire state!<br>
                              <u style="text-decoration-color: orange;">Orange</u>: Project could probably use some help.<br>
                              <u style="text-decoration-color: green;">Green</u>: Would appreciate any help.
                              <br><br><br>
                            </p>
                          </div>
        </div>
        <br>
    </div>
      
    </div>
    <!-- --Script-- -->
    <!-- For menu overlay -->
    <script>
      function openNav() {
        document.getElementById("myNav").style.width = "100%";
      }
      
      function closeNav() {
        document.getElementById("myNav").style.width = "0%";
      }
      
      // <!-- for Add Card overlay -->
      
        function openAdd() {
          document.getElementById("Addpanel").style.height = "100%";
        }
        
        function closeAdd() {
          document.getElementById("Addpanel").style.height = "0%";
        }
        
        // <!-- For all cards view button / subcard -->
        
          function openView(dis) {
          //var dis = "myNav";
            document.querySelector("#"+dis).style.height = "100%";
            document.body.style.overflow = "hidden";
          }
  
          function closeView(dis) {
            document.querySelector("#"+dis).style.height = "0%";
            document.body.style.overflow = "auto";
          }
          
          $('#donationcollapse').on('show.bs.collapse', function () {
            console.log("its working");
              this.scrollIntoView();
            });
          </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>