<!doctype html>
<html lang="en">
  <head>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/736491929172180993/736498774431629363/resized_logocircle1.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    



    <title>Stesta | Login</title>
  </head>
  <body>
    <div class="logindiv"></div>

      <a href="/">
      <img class="logohead" src="https://cdn.discordapp.com/attachments/714130033957929012/734709351574667294/Untitled-2.png" style="max-width: 200px;">
      </a>
      <br><br><br>
      <form method="POST">
        {% csrf_token %}

        
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Name" name="username" id='id_username' required />
          <label for="name" class="form__label">Name</label>
        </div>
        <div class="form__group field">
          <input type="password" class="form__field" placeholder="Password" name="password" id='id_password' required />
          <label for="name" class="form__label">Password</label>
        </div>
        <br>
        <span id="errordisplay">
          {% if messages %}
            {% for message in messages %}
              <p> {{message}} </p>
            {% endfor %}
          {% endif %}
        </span>
        <br>
        <input type="submit" class="submitbtn link underline" value="Login"> | <a href="/register" class="registerbtn link wipe">Register</a>
        <br>
        <span id="forgotpassword"><a href="reset_password">Forgot password?</a></span>
        
      </form> 

    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>