{% extends 'main/landingtemplate.html' %}

{% block title %}
<title>Stesta | Home</title>
{% endblock %}
    

{%block content%}
  <div class="centerFlex fadediv">
    <h1>Stesta</h1><br>
    <h2>A free, opensource task management and progress tracking app.</h2>
    <br><br>
    <a href="getstarted">
    <button>Get Started</button>
    </a>
    <br><br>
    <a href="https://github.com/Elathius/stesta" target="_blank"><i class="fa fa-github" aria-hidden="true" style="font-size: 50px;">&nbsp;</i></a>
  </div>
{% endblock %}