<!doctype html>
<html lang="en">
  <head>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/736491929172180993/736498774431629363/resized_logocircle1.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!--Materialize Compiled and minified CSS -->

    <!--Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

    <!-- Custom -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    



    <title>Stesta | Register</title>
  </head>
  <body>
    <div class="logindiv"></div>

      <a href="/">
      <img class="logohead" src="https://cdn.discordapp.com/attachments/714130033957929012/734709351574667294/Untitled-2.png" style="max-width: 200px;">
      </a>
      <br>
      <form method="POST">
        {% csrf_token %}
        
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Username" name="username" id='id_username' required />
          <label for="Username" class="form__label">Username</label>
        </div>
        <div class="form__group field">
            <input type="email" class="form__field" placeholder="Email" name="email" id='id_email' required />
            <label for="Email" class="form__label">Email</label>
          </div>
        <div class="form__group field">
          <input type="password" class="form__field" placeholder="Password" name="password1" id='id_password1' required />
          <label for="Password" class="form__label">Password</label>
        </div>
        <div class="form__group field">
            <input type="password" class="form__field" placeholder="cPassword" name="password2" id='id_password2' required />
            <label for="cPassword" class="form__label">Confirm Password</label>
          </div>
          
        <br>
        <span id="errordisplay">
          {% if form.errors %}

              {% for field in form %}
                  {% for error in field.errors %}
                  <p>{{error}}</p>
                  {% endfor %}
              {% endfor %}

              {% for error in form.non_field_errors %}
                <p>{{error}}</p>
              {% endfor %}

          {% endif %}
        </span><br>
        <a href="/login" class="registerbtn link wipe"><i class="fa fa-undo" aria-hidden="true"></i></a> | <a href="index.html"><input  type="submit" class="submitbtn link underline" value="Register"></a>
      </form> 

    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>